
.navbar-container {
    background-color: #4f1e3f; 
    border: 2px solid #fff; 
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; 
    border-radius: 5px;
    max-width: 600px;
}


.navbar-container ul {
    list-style: none;
    padding: 0;
    display: flex;
}


.nav-item {
    margin: 0 10px;
    font-size: medium;
    line-height: 2;
}


.nav-link {
    color: #fff; 
    text-decoration: none;
}


.sign-in-up-btn {
    background-color: #b51189; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 110px;
    line-height: 2;

}


.sign-out-container {
    display: flex;
    align-items: center;
    color: #fff; 
}


.username-display {
    margin-left: 80px;
}


.sign-out-btn {
    background-color: #b51189; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 10px;
}
