/* Apply this CSS to your SignInForm component or import it in the component's CSS file */

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin: 0;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    color: #e7d6e0;
  }
  
  .signin-form-group {
    margin: 10px 0;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .signin-btn.btn-secondary {
    background-color: #b51189;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signin-btn.btn-primary {
    background-color: #b51189;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signin-btn.btn-secondary:hover, .signin-btn.btn-primary:hover {
    background-color: #cc7ccf;
  }
  