.background-image {
  background-image: url(../public/images/sitebackground.jpg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}